body {
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat976.ani),
    url(https://cur.cursors-4u.net/nature/nat-10/nat976.gif),
    auto !important;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  z-index: 99;
  font-family: "Alegreya", serif;
  border-bottom: 4px solid #856c6c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("https://i.postimg.cc/hvhT5KWR/smallbackground.png");
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 70px;
    color: #cba96d;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
    padding-left: 0.5em;
    font-weight: normal;
    font-family: "Alegreya", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__links {
    display: flex;
    padding: 0 2em;
    font-size: 2vw;
    color: #ae915e;
    width: 100%;
    margin-top: 1.6rem;
    margin-left: 1rem;
    white-space:nowrap;

    div {
      padding-left: 40px;
    }
  }
}

.components_container {
  background-color: #cba96d;
  padding-top: 150px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
}

footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 54px 2px 54px;
  font-size: 15px;

  h4 {
    color: #cba96d;
    font-size: 25px;
    padding: -5px;
    margin-top: -5px;
    font-family: "Alegreya", serif;
  }
}

a {
  color: #ae915e;
  text-decoration: none;
}

textarea {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  width: 75%;
  min-height: 65%;
  resize: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}

// header

h2 {
  font-size: 3rem;
  font-family: "Alegreya", serif;
  font-weight: normal;
  padding: 0px;
  margin: 30px 0px -30px 0px;
}

.heading p {
  font-size: 2.2rem;
  margin-bottom: -30px;
}

.heading {
  margin-bottom: -1rem;
}

.placeholder {
  background-color: #ffffff;
  width: 60%;
  text-align: center;
  box-shadow: $default-box-shadow;
  padding: 1rem;
  font-size: 1.5rem;

  img {
    width: 25%;
    opacity: 0.5;
  }
}

.center {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

// bookingForm

.form_container {
  background-color: #ffffff;
  width: 60%;
  text-align: center;
  font-size: 15px;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 3rem;
  box-shadow: $default-box-shadow;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%; 


  .go_back {
    box-shadow: $default-box-shadow;
    background-color: #cba96d;
    font-size: 22px; 
    margin-left: 20%; 
    margin-right: 20%;

  }

  td {
    text-align: left;
    padding-left: 10px;
   
  }

  table {
    padding-left: 1rem; 
  }

  img {
    width: 30px ; 
    padding: 0px; 
    margin: 0px; 

  }

  .profile_header  {
    display: flex;
    justify-content: flex-start;
    flex-direction: row ;
    margin-left: 2rem; 

    .proff_name h2{
      font-family: Alegreya;
      font-size: 2rem; 
      color: #E3CE94;
      margin-bottom: -1rem; 
      margin-top: -.5rem; 
      margin-left: 1rem; 

    }
  }
}

.professional_display {
  display: flex;
  flex-direction: row;
}

.bottomhalf {
display: flex;
justify-content: center;
flex-direction: column;

}

.timeslots {
  display: flex;
justify-content: center;
flex-direction: row;
}
