body {
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat976.ani),
    url(https://cur.cursors-4u.net/nature/nat-10/nat976.gif),
    auto !important;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px; 
  z-index: 99;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; 
  font-family: "Alegreya", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 4px solid #856c6c;

   h1 {
    font-size: 120px;
    color: #cba96d;
    margin: 0px;
    margin-top: -10px; 
    margin-bottom: -10px;
    padding-left: 0.5em;
    font-weight: normal;
    font-family: "Alegreya", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  &__links {
    width: 28%;
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    font-size: 24px;
    color: #ae915e;
  }
}

.components_container {
  background-color: #cba96d;
  padding-top: 150px;
  padding-bottom: 20px; 
  margin-left: -8px;
  width: 100%;
  justify-content: center;
  text-align: center;
  

}

.form_container {
  background-color: #ffffff; 
  width: 800px; 
  display: flex; 
  text-align: center; 
  font-size: 15px; 
  padding: 2rem;
  margin: 2rem; 
  margin-bottom: 3rem; 
  flex-direction: column;
}


footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 54px 2px 54px;
  font-size: 15px;

  h4 {
    color: #cba96d;
    font-size: 25px;
    padding: -5px;
    margin-top: -5px;
    font-family: "Alegreya", serif;
  }
}

a {
  color: #ae915e;
  text-decoration: none;
}

textarea {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
};


code {
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}

// header

h2 {
  font-size: 3rem; 
  font-family: "Alegreya", serif;
  font-weight: normal;
  padding: 0px; 
  margin: 30px 0px -30px 0px;
};

.heading p {
  font-size: 2.2rem;  
  margin-bottom: -30px; 
};

.heading {
  margin-bottom: -1rem;

};

.placeholder {
  background-color: #ffffff;
  width: 60%; 
  text-align: center; 
  box-shadow: $default-box-shadow;
  padding: 1rem; 
  font-size: 1.5rem; 

  img {
    width: 25%; 
    opacity: 0.5;

  }
}

.center {
  text-align: center; 
  display: flex;
  justify-content: space-between;

}