body {
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 0px 0.8em 0em;
  margin-left: 0em;
  z-index: 99;
  font-family: "Alegreya", serif;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cba96d;

  .logo {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 4.5rem;
    color: #ffffff;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: .8em;
    font-weight: normal;
    font-family: "Alegreya", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__links {
    display: flex;
    padding: 0 0em;
    font-size: 2vw;
    color: #ffffff;
    margin-top: 3rem;
    margin-left: -10rem;
    white-space: nowrap;


    :hover {
      margin-top: 5px;
      opacity: 0.7;
    }

    div {
      justify-content: center;
      width: 60%;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  &__links2 {
    font-size: 2vw;
    margin-top: 3rem;
    padding-right: 1.2em;

    :hover {
      margin-top: 5px;
      opacity: 0.7;
    }
  }
}

.logout {
  color: #856c6c;
  text-align: right;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2em;
  margin-right: .8em
}

span {
  color: #ffffff;
  font-weight: bold;
}

.components_container {
  background-color: #cba96d;
  padding-top: 150px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 90vh; 
  // overflow: clip;
}
.components_container2 {
  background-color: #cba96d;
  padding-top: 150px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 90vh;
  overflow: clip;
}

.card footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 54px 25px 54px;
  font-size: 15px;
  // height: 20%;
  // overflow-y: clip; 
}

  footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 54px 25px 54px;
  font-size: 15px;
  max-height: 10vh;
  bottom: 0; 
  // height: 20%;
  // overflow-y: clip; 


  h4 {
    color: #cba96d;
    font-size: 25px;
    padding: -5px;
    margin-top: -5px;
    font-family: "Alegreya", serif;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2em;
}

textarea {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  width: 75%;
  min-height: 65%;
  resize: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, "Courier New", monospace;
}


.hidden
{color: #cba96d; 
padding-left: 9.2em; }

// header

h2 {
  font-size: 3rem;
  font-family: "Alegreya", serif;
  font-weight: normal;
  padding: 0px;
  margin: 30px 0px -30px 0px;
}

.heading {
  margin-bottom: -1rem;
  margin-top: -50px; 

  h2 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family: "Alegreya", serif;
    font-weight: normal;
    color: #ffffff;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }

  .global-class-name {
    color: #ffffff;
    margin-right: 25px;
    margin-top: 35px;
  }

  p {
    font-size: 2rem;
    margin-bottom: -30px;
  }
}

.icons
{margin: 2em; 
text-align: center; 
margin-bottom: -2.5em; 
margin-left: -3.8em; }

.placeholder {
  background-color: #ffffff;
  width: 60%;
  text-align: center;
  box-shadow: $default-box-shadow;
  padding: 2rem 2rem 3rem;
  font-size: 1.5rem;

  img {
    width: 25%;
    opacity: 0.5;
  }

  h1 {
    font-size: 70px;
    color: #cba96d;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: normal;
    font-family: "Alegreya", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.3em;
  }
}


.center {
  text-align: center;
  display: flex;
  justify-content: space-between;
 }

.center2 {
  text-align: center;
  justify-content: center;
  width: 60%; 
  margin-left: 20%;
  margin-right: 20%; 
  min-height: 540px; 
  padding-top: 2em; 

  a {
    font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2em;
  color: white; 
  font-size: .8em; 
  padding-right: .5em; 
  }
  a:hover {opacity: .6}
}

// bookingForm

.form_container {
  background-color: #ffffff;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2rem;
  margin-bottom: 3rem;
  box-shadow: $default-box-shadow;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;

  .go_back {
    color: #ffffff;
    font-size: 2rem;
    width: 70%;
    box-shadow: $default-box-shadow;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ae915e;
    padding: 1rem;
  }

  .go_back:hover {
    background-color: #e3ce94;
  }

  td {
    text-align: left;
    padding-left: 10px;
  }

  table {
    padding-left: 1rem;
  }

  img {
    width: 30px;
    padding: 0px;
    margin: 0px;
  }

  .profile_header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -1rem;

    .proff_name h2 {
      font-family: Alegreya;
      font-weight: bold;
      font-size: 2rem;
      color: #ae915e;
      margin-bottom: -1rem;
      margin-top: -0.5rem;
      margin-left: 1rem;
    }
  }
}

.professional_display {
  display: flex;
  flex-direction: row;
}

.bottomhalf {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .mic {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -1em;
    margin-bottom: 1em;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 0.7em;
    color: grey;
  }

  textarea {
    width: 80%;
    min-height: 15rem;
    border-bottom: 0px;
    padding: 1em;
    font-size: 0.7em;
  }

  textarea:active {
    border: 0px;
  }

  select {
    font-size: 1em;
    margin: 1em;
    padding: 0.3em;
    border: 2px solid black;
    box-shadow: $default-box-shadow;
    margin-top: 0.5em;
  }

  select:hover {
    color: #cba96d;
  }

  .submit {
    color: #ffffff;
    font-size: 2rem;
    box-shadow: $default-box-shadow;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ae915e;
    padding: 1rem;
    border: 0px;
    width: 70%;
  }

  .submit:hover {
    background-color: #cba96d;
  }
}

.timeslots {
  display: flex;
  justify-content: center;
  flex-direction: row;

  button {
    font-size: 1em;
    margin: 1em;
    padding: 0.3em;
    border: 2px solid black;
    background-color: white;
    box-shadow: $default-box-shadow;
    margin-top: 0.5em;
  }
  button:hover {
    color: #cba96d;
  }

  div {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.chat {
  color: #cba96d;
  font-size: 2px;
}

.searchbtn {
  @include btnBox;
  margin: 1em;
  color: #ae915e;
  background-color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 2rem;
  font-weight: bold;

  &:active {
    transform: translateY(2px);
  }
  &:hover {
    margin-top: 1.2em;
    opacity: 0.7;
  }
}

// calendar


.my-custom-input-class {
  font-size: 1em;  
  padding: .3em; 
  border: 2px solid black; 
  box-shadow: $default-box-shadow;
  margin-top: .5em;
  text-align: center; 
  width: 7em; }

  .my-custom-input-class:hover {
    color: #cba96d;
  }