.btn {
  background-color: white;
  padding: 2rem;
  border: 2px solid black;
  display: inline-block;
  margin: 1em;
  color: #ae915e; }

.btn-delete {
  background-color: white;
  padding: 0.5em;
  border: 2px solid black; }

.btn-booking {
  background-color: #ae915e;
  padding: 0.5em;
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.selection {
  background-color: white;
  padding: 2rem;
  border: 2px solid black;
  display: inline-block;
  margin: 3rem; }

.appointment {
  display: flex; }

.professional-detail {
  width: 80%;
  padding: 2rem;
  background-color: white;
  margin: 0 auto; }
  .professional-detail__name {
    color: #cba96d; }
  .professional-detail__tags {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem; }
  .professional-detail__bottom {
    display: flex; }
    .professional-detail__bottom-img {
      width: 200px;
      height: 250px; }

.professionals {
  display: flex; }
  .professionals__list {
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }

/* barebones css, fix after normalizing app.css :) */
.professionals__item {
  width: 300px;
  height: 200px;
  padding: 1em;
  margin: 1em;
  border: solid; }
  .professionals__item div {
    display: flex;
    align-items: center;
    font-size: 18px; }
  .professionals__item header {
    font-size: 30px;
    margin: 0; }
  .professionals__item-image {
    width: 50px; }
  .professionals__item footer {
    padding: 0; }

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 140px;
  float: left;
  z-index: 2;
  background-color: #ffefd5; }
  .sidebar header {
    padding: 0 0.5em;
    font-size: 32px; }
  .sidebar__options {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    width: 100%; }
    .sidebar__options__category {
      background-color: bisque; }
    .sidebar__options h4 {
      margin: 0; }
    .sidebar__options div {
      padding: 0 0.5em; }

body {
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Alegreya", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat976.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat976.gif), auto !important; }

.navigation {
  height: 140px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #F6F6F6; }
  .navigation h1 {
    font-size: 70px;
    color: #cba96d;
    margin: 0px;
    padding-left: 0.5em;
    font-weight: normal; }
  .navigation__links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    font-size: 25px;
    color: #ae915e; }

.components_container {
  background-color: #cba96d;
  padding-top: 54px;
  padding-bottom: 20px;
  width: 100%;
  justify-content: space-around;
  text-align: center; }

.form_container {
  background-color: #ffffff;
  width: 800px;
  display: flex;
  text-align: center;
  font-size: 15px;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 3rem;
  flex-direction: column; }

footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 54px 2px 54px;
  font-size: 15px; }
  footer h4 {
    color: #cba96d;
    font-size: 25px;
    padding: -5px;
    margin-top: -5px; }

a {
  color: #ae915e;
  text-decoration: none; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

/* resetting to create a clean style base :) */
/* remove annoying dot from lists */
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }
