.btn {
  background-color: white;
  padding: 2em;
  border: 2px solid black;
  display: inline-block;
  margin: 1em;
  color: #ae915e; }

.btn-delete {
  background-color: white;
  padding: 0.5em;
  border: 2px solid black; }

.btn-booking {
  background-color: #ae915e;
  padding: 0.5em;
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.selection {
  background-color: white;
  padding: 2rem;
  border: 2px solid black;
  display: inline-block;
  margin: 3rem; }

.appointment {
  display: flex; }
