/* barebones css, fix after normalizing app.css :) */
@import "reset.scss";
/* ^ leaving this import here for now
gonna move this to app.scss tomorrow! */

.professionals {
  &__item {
    width: 300px;
    padding: 1em;
    margin: 2em;

    div {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    h2 {
      font-size: 32px;
      margin: 0;
    }

    &-image {
      width: 50px;
    }

    footer {
      padding: 0;
    }

  }

}