@import "styles/variable.scss";

.center_list {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
  li:hover {
    background-color: #ae915e;
  }
}

.appointment {
  display: flex;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 2em 3em;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: $default-box-shadow;
  font-size: 1.2rem;
  width: 50%;

  div {
    padding: 0.6rem;
  }
  &__icon {
    width: 8%;
    opacity: 0.5;
    color: antiquewhite;
  }
  &__icon:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.btn-delete {
  margin-top: 50px;
  font-size: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
