.form_container {
  background-color: #ffffff; 
  width: 800px; 
  display: flex; 
  text-align: center; 
  font-size: 15px; 
  padding: 2rem;
  margin: 2rem; 
  margin-bottom: 3rem; 
  flex-direction: column;
}