@import "styles/variable.scss";
@import "styles/mixin.scss";

.btn {
  @include btnBox;
  margin: 1em;
  color: #ae915e;
  background-color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 1.7rem;
  font-weight: bold;

  &:active {
    transform: translateY(4px);
  }
}

.btn-delete {
  @include btnBox;
  padding: 0.5em;

  &:active {
    transform: translateY(4px);
  }
}

.btn-booking {
  background-color: #ae915e;
  padding: 0.5em;
  width: 80%;
  margin: 0 auto;
  text-align: center;

  &:active {
    transform: translateY(4px);
  }
}
.btn-search {
  @include btnBox;
  margin: 1em;
  color: #ae915e;
  background-color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

  &:active {
    transform: translateY(2px);
  }
}
