@import "styles/variable.scss";
@import "styles/mixin.scss";

.btn {
  @include btnBox;
  padding: 2rem;
  margin: 1em;
  color: #ae915e;
}

.btn-delete {
  @include btnBox;
  padding: 0.5em;
}

.btn-booking {
  background-color: #ae915e;
  padding: 0.5em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
