@import "styles/variable.scss";
@import "styles/mixin.scss";

.btn {
  @include btnBox;
  margin: 1em;
  color: #ae915e;
  background-color: white;
  padding: .3rem .5rem .3rem .5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 1.7rem;
  font-weight: bold;
}

.btn-delete {
  @include btnBox;
  padding: 0.5em;
}

.btn-booking {
  background-color: #ae915e;
  padding: 0.5em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
