@import "styles/_variable.scss";

.professionals {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;


  &__item {
    width: 36%;
    height: 250px;
    padding: 0.3em;
    margin: 2em 2.5em;
    background-color: #ffffff;
    box-shadow: $default-box-shadow;
    white-space:nowrap;


    h2 {
        font-family: Alegreya;
        font-size: 2vw; 
        color: #E3CE94;
    
      }
    

    header {
      font-size: 24px;
      text-align: right;
      padding-right: 0.8em;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1vw;
      padding: 0 1em;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0.2em 1em;
      text-align: left;

      li {
        padding: 5px;
      }
    }

    &__image {
      width: 100px;
    }

    footer {
      padding: 1em;

      button {
        width: 150px;
        height: 40px;
        border: none;
        font-size: 1.4vw;
        margin-left: 45%;
        color: #ffffff;
        background-color: #AE915E;
        box-shadow: $default-box-shadow;
      }

      button:hover {
        background-color: #E3CE94;
      }
    }
  }
}
