/* barebones css, fix after normalizing app.css :) */

.professionals {
  &__item {
    width: 300px;
    height: 200px;
    padding: 0.2em 0.4em;
    margin: 1em;
    background-color: #F6F6F6;

    header {
      font-size: 28px;
      margin: 0;
      text-align: right;
    }

    div {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 1em;

      li {
        padding: 5px;
      }
    }

    &__image {
      width: 100px;
    }

    footer {
      padding: 1em;
      overflow: hidden;

      button {
        border: none;
        background-color: rgb(150, 125, 83);
        float: right;
      }
    }
  }
}
