.professional-detail {
  width: 60%;
  padding: 2rem;
  background-color: white;
  margin: 0 auto;
  margin-top: 3rem; 
  box-shadow: $default-box-shadow;
  color: black; 


  .description {
    color: black; 
    font-weight: normal; 
    text-align: left; 
  }
    
  &__name {
    color: #ae915e;
    width: 60%; 
    padding: 1rem; 
    background-color: #E3CE94; 
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -1.3em; 
    box-shadow: $default-box-shadow;
    letter-spacing: .2rem;
  }

  &__tags {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    

    li {padding-left: 1rem; 
      padding-right: 1rem; }


    img {
      width: 25px; 
      margin-right: 10px; 
      margin-top: 5px; 
    }
  }

  .btn-booking {
    color: #ffffff;
    font-size: 2rem;
    width: 70%;
    box-shadow: $default-box-shadow;
  };
  .btn-booking:hover {
    background-color: #E3CE94;
  }


  &__name {
    font-family: Alegreya;
    font-size: 2.5rem; 

  }

  &__bottom {
    display: flex;
    font-size: 1.5rem;
    width: 90%; 
    margin-left: 5%;
    margin-right: 5%; 
    margin-bottom: 5%; 

    span {
      padding: 1rem;
    }

    &-img {
      width: 25%;
      margin: 1rem; 
    }
  }
 

}
