.professionals {
  // display: flex;
  // align-items: center;

  &__container {
    width: 100%;
    padding-top: 200px;
    padding-left: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

  }
}
