@import "styles/_variable.scss";

.professionals {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;


  &__item {
    width: 36%;
    padding: 0.3em;
    margin: 2em 2.5em;
    background-color: #ffffff;
    box-shadow: $default-box-shadow;
    // white-space:nowrap;


    h2 {
        font-family: Alegreya;
        font-size: 2vw; 
        color: #AE915E;
        justify-content: center;
        text-align: center;
        margin-bottom: .5em; 
        margin-top: .5em;
        margin-left: 14%;
        font-weight: bold; 
  
      }
    

    header {
      font-size: 24px;
      text-align: center;
      padding-right: 0.8em;
      text-align:center;
      justify-content: center;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.1vw;
      padding: 0 1.3em 0 1em;
      width: 100%; 
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0.2em 1em;
      text-align: left;

      li {
        padding: 5px;
      }
    }

    &__image {
      width: 100px;
    }

    footer {
      padding: 1em;

      button {
        width: 75%;
        padding: .3em;
        border: none;
        font-size: 1.5em;
        margin-left: 45%;
        color: #ffffff;
        background-color: #AE915E;
        box-shadow: $default-box-shadow;
        white-space:nowrap;
      }

      button:hover {
        background-color: #E3CE94;
      }
    }
  }
}
