@import "styles/variable.scss";

.selection {
  background-color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 1.7rem;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__list {
    font-size: 1.2rem;
    margin: 0.2rem;
  }

  &__heading:hover,
  &__list:hover {
    padding: 0;
    color: #d5c085;
    transform: scale(1.05);
  }
}

.selected__list {
  font-weight: 700;
  color: #ae915e;
}
