@import "styles/variable.scss";

.selection {
  background-color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 1.7rem;
}
.select__list {
  background-color: #e3ce94;
}
