@import "styles/variable.scss";

.selection {
  background-color: white;
  padding: .3rem .5rem .3rem .5rem;
  display: inline-block;
  margin: 3rem;
  box-shadow: $default-box-shadow;
  font-size: 1.7rem;
}
