.sidebar {
  width: 280px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 140px;
  float: left;
  // padding: 0.5em;
  z-index: 2;
  background-color: #ffefd5;

  header {
    padding: 0 0.5em;
    font-size: 32px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    width: 100%;

    &__category {
      background-color: bisque;
    }

    h4 {
      margin: 0;
    }
    div {
      padding: 0 0.5em;
    }
  }
}
