.sidebar {
  background-color: #ffffff;
  box-shadow: $default-box-shadow;
  margin-top: 200px;
  margin-left: 5%; 
  margin-right: 10px;
  width: 25%;
  height: 90%;

  header {
    padding: 0 0.5em;
    font-size: 32px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    font-size: 28px;
 
    &__category {
      background-color: #E3CE94;
    }
    h4 {
      margin: 0;
    }
    div {
      padding: 0 0.5em;
    }
  }
}
