.sidebar {
  background-color: #ffffff;
  box-shadow: $default-box-shadow;
  margin-top: 5em;
  margin-left: 5%;
  margin-right: 10px;
  width: 25%;
  height: 65%;
  padding-bottom: 1em;
  position: fixed;
  overflow: auto;

  button {
    font-size: 1em;
    margin: 1em;
    padding: 0.3em;
    border: 0px;
    background-color: #ae915e;
    box-shadow: $default-box-shadow;
    margin-top: 0.5em;
    width: 85%;
    font-weight: bold;
    color: #ffffff;
  }
  button:hover {
    color: #cba96d;
  }

  img {
    width: 20%;
    margin-bottom: -15px;
  }

  span {
    color: black;
    font-size: 0.7em;
  }

  header {
    padding: 0.5em 1em 0.5em 1em;
    justify-content: center;
    font-family: Alegreya;
    font-size: 1em;
    color: #e3ce94;
    font-weight: bold;
  }

  &__options {
    display: flex;
    flex-direction: column;
    font-size: .5em; 

    &__category {
      background-color: #e3ce94;
      font-size: 1em; 
    }

    h4 {
      margin: 0;
    }
    div {
      padding: 0 0.5em;
      background-color: #e3ce94;
      margin: 10px 1em 10px 1em;
      box-shadow: $default-box-shadow;
      font-size: 1em; 
      width: 85%; 

    }
  }
}

input[type=checkbox], input[type=radio] {
  position: relative;
  cursor: pointer;
  top: -5px;
  left: -10px;
  margin: 1em;

}
input[type=checkbox]:before, input[type=radio]:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffffff;
  font: inherit;
  width: 22px;
  height: 22px;
  border: 0.2em solid #ae915e;
  place-content: center;
  margin-bottom: 25px;
}


input[type=checkbox]:checked:after, input[type=radio]:checked:after {
  content: "";
  display: block;
  width: 10px;
  height: 17px;
  border: solid #ae915e;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 6px;
}