.professionals {
  &__sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 140px;
    float: left;
    padding: 0.5em;
    z-index: 2;
    background-color: #ffefd5;

    &__options {
      display: flex;
      flex-direction: column;
    }
  }
}