.video {
  margin: 3em 0;
  padding: 5rem 0;
  background-color: #cba96d;

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__peer {
    width: 800px;

    &-empty {
      width: 800px;

      background-color: white;
      text-align: center;
      box-shadow: $default-box-shadow;
      padding: 1rem;
      font-size: 1.5rem;

      img {
        width: 35%;
        opacity: 0.5;
      }

      p {
        color: #947b50;
        font-size: 2rem;
      }
    }
  }
  &__myself {
    width: 300px;
  }
  &__icon {
    margin-left: 15px;
  }
  &__receive {
    animation: calling 1s infinite;
  }
}

.btn-video {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1em;
  padding: 0.2em 0.6em;
  color: #ffffff;
  background-color: #ae915e;
  margin-top: 2rem;
  width: 100%;
  box-shadow: $default-box-shadow;
}
.btn-video:hover {
  transform: scale(1.05);
}
.btn-video:active {
  transform: translateY(-5px);
}

@keyframes calling {
  50% {
    opacity: 1;
    transform: translateY(4px) scale(1.2);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0) scale(1) opacity(1);
  }
}
